# Basic String Operations

## Creating Formatting

In [1]:
isim = "mvk"

In [2]:
3 * isim

'mvkmvkmvk'

In [3]:
"mvk" + "ali" #string concatenation

'mvkali'

In [4]:
"K" + isim[1:]

'Kvk'

In [5]:
isimler =  ["ali","veli","ayse"]

In [6]:
for i in isimler:              #sep= how do you want to combine
    print("İsim:",i, sep = "")

İsim:ali
İsim:veli
İsim:ayse

In [7]:
for i in isimler:
    print("_", i[0:], sep = "")

_ali
_veli
_ayse

In [8]:
print(*enumerate(isimler))  #enumerate function is for giving numbers to variables

(0, 'ali') (1, 'veli') (2, 'ayse')

In [9]:
for i in enumerate(isimler): #we enumerated variables 
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayse')

In [10]:
for i in enumerate("Eren Erdogan"): #enumerated my name
    print(i)

(0, 'E')
(1, 'r')
(2, 'e')
(3, 'n')
(4, ' ')
(5, 'E')
(6, 'r')
(7, 'd')
(8, 'o')
(9, 'g')
(10, 'a')
(11, 'n')

In [11]:
for i in enumerate(isimler,3): # we can start it from anywhere we want. I started it from 3 for example
    print(i)

(3, 'ali')
(4, 'veli')
(5, 'ayse')

## In-Array Type Queries

In [12]:
"mvk".isalpha() # if string is alphabetic it returns true

True

In [13]:
"mvk30".isalpha()

False

In [14]:
"123".isnumeric() #numeric is if all string word include numbers

True

In [15]:
"123".isdigit()  #we can use digit as well

True

In [16]:
"mvk30".isalnum() #if value is alphabet and numeric it returns true. It doesnt need to include both 1 is enough as well

True

In [17]:
"mvk".isalnum()

True

In [18]:
"asfasf?*".isalnum() #it returns false because of ? *

False

## Accessing Elements and Element Indexes

In [19]:
isim = "ErenErdogan"

In [20]:
isim

'ErenErdogan'

In [21]:
isim[0:2]

'Er'

In [22]:
isim.index("n")

3

In [23]:
isim.index("a")

9

In [24]:
isim.index("n",4) # if we wanna caught 2nd n in my name we can start it from 4th index

10

## Querying Start and End Characters: startswith() & endswith()

In [25]:
isim = "Eren Berkcan Erdogan"

In [26]:
isim.startswith("a") #false
isim.startswith("e") #false e is different from E
isim.startswith("E") #true
isim.endswith("n")   #true

True

In [27]:
#count

In [28]:
isim.count("a")  #it returns how many a it contains

2

In [29]:



#sorted

In [30]:
sorted("defter")

['d', 'e', 'e', 'f', 'r', 't']

In [31]:
print(*sorted("defter"), sep = "")

deefrt

## Splitting Characters

In [32]:
isim = "Eren Berk Erdogan"

In [33]:
isim.split()

['Eren', 'Berk', 'Erdogan']

In [34]:
isim.split(",")

['Eren Berk Erdogan']

In [35]:
isim = "Eren_Berk_Erdogan"

In [36]:
isim.split("_") #it splits strings from the thing we write in function

['Eren', 'Berk', 'Erdogan']

## Lowercase Capitalization  Operations

In [37]:
isim = "Eren Berk Erdogan"

In [38]:
isim.upper()

'EREN BERK ERDOGAN'

In [39]:
isim.lower()

'eren berk erdogan'

In [40]:
isim.upper().lower()

'eren berk erdogan'

In [41]:
isim_b = isim.upper()

In [42]:
isim_b

'EREN BERK ERDOGAN'

In [43]:
isim_b.islower() #if all letters are lower turns true

False

In [44]:
isim_b.isupper() #if all letters are upper turns true

True

## capitalize() & title() & swapcase()

In [45]:
isim = "eren berk erdogan"

In [46]:
isim.capitalize() #makes first letter uppercase

'Eren berk erdogan'

In [47]:
isim.title()  #makes all first letters of words uppercase

'Eren Berk Erdogan'

In [48]:
isim.swapcase() #makes all letters uppercase

'EREN BERK ERDOGAN'

In [49]:
isim = "EREN berk KORKMAZ"

In [50]:
isim.swapcase()

'eren BERK korkmaz'

## Trimming Unwanted Characters: strip(), lstrip(), rsting()

In [51]:
isim = " hello "

In [52]:
isim.strip() # it trimmed " " from start and end

'hello'

In [53]:
isim = "*hello*"

In [54]:
isim.strip("*") #we can choose what to delete

'hello'

In [55]:
isim = "lhellol"

In [56]:
isim.strip("l")

'hello'

In [57]:
isim = "*hello*"

In [58]:
isim.rstrip("*")

'*hello'

In [59]:
isim.lstrip("*")

'hello*'

## join: combining split or already split statements

In [60]:
isim = "Eren Berk Korkmaz"

In [61]:
ayrik = isim.split()

In [62]:
ayrik

['Eren', 'Berk', 'Korkmaz']

In [63]:
joiner = " " #we can choose how to combine words

In [64]:
joiner.join(ayrik)

'Eren Berk Korkmaz'

In [65]:
joiner = "*****"

In [66]:
joiner.join(ayrik)

'Eren*****Berk*****Korkmaz'

## Element Replacement: replace(), str.maketrans(), translate()

In [67]:
isim

'Eren Berk Korkmaz'

In [68]:
isim.replace("B","c")

'Eren cerk Korkmaz'

In [69]:
isim.replace("Kork","Var")

'Eren Berk Varmaz'

In [70]:
ifade = "Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

In [71]:
duzeltilecek_harfler = "çÇğĞıİöÖşŞüÜ"
duzeltilmis_harfler = "cCgGiIoOsSuU"

In [72]:
alfabe_duzeltme = str.maketrans(duzeltilecek_harfler, duzeltilmis_harfler) #we used str.maketrans function
                                                                    #we converted turkish characters to english characters

In [73]:
ifade.translate(alfabe_duzeltme)       #we used .translate function

'Bu ifade Icerisinde bagzi TUrkce karakterler vardir'

## Contains

In [74]:
import pandas as pd
isimler = ["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v = pd.Series(isimler)

In [75]:
v

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [76]:
v.str.contains("al") #if variable contains the thing we want it return True

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [77]:
v[v.str.contains("al")] # if we only want to get the variables which contains the letters that we want, we use it like that

2     ali
3    aali
dtype: object

In [78]:
v.str.contains("al").sum()

2

In [79]:
v[v.str.contains("[aA]li")]   
                # it is important : [aA] if we do it like that it doesnt matter if letter is a or A it takes both of them

2     ali
3    aali
4     Ali
dtype: object

In [80]:
v.str.contains("[aA]li").sum()

3

# Text Mining and Natural Language Processing Introduction

## Text Preprocessing

In [81]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### converting string to df/array/serial

In [82]:
import pandas as pd

In [83]:
text.split("\n") #we splited sentence from \n

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [84]:
v_text = text.split("\n")

In [85]:
v = pd.Series(v_text) #we converted it to pandas series

In [86]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [87]:
text_vector = v[1:len(v)]

In [88]:
text_vector

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [89]:
mdf = pd.DataFrame(text_vector, columns = ["Stories"]) #we converted it to pandas data frame as a "Stories"

In [90]:
mdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## uppercase lowercase

In [91]:
d_mdf = mdf.copy()   #we must copy the variable always before doing operations because maybe in the future we might want to
                     #cancel all operations

In [92]:
d_mdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [93]:
list1 = [1,2,3]

In [94]:
str1 = "".join(str(i) for i in list1) #merge process

In [95]:
str1

'123'

##### using lambda functions

In [96]:
d_mdf["Stories"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [97]:
d_mdf = d_mdf["Stories"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [98]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

## Deleting Punctuation Marks

In [99]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [100]:
type(d_mdf)

pandas.core.series.Series

In [101]:
#d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [102]:
d_mdf = d_mdf.str.replace("[^\w\s]","")

C:\Users\monster\AppData\Local\Temp/ipykernel_6188/3399425107.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("[^\w\s]","")

In [103]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Stories, dtype: object

## Deletion of Numbers

In [104]:
d_mdf = d_mdf.str.replace("\d","")

C:\Users\monster\AppData\Local\Temp/ipykernel_6188/3496927671.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("\d","")

In [105]:
d_mdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Stories, dtype: object

## Stopwords

In [106]:
d_mdf = pd.DataFrame(d_mdf, columns = ["Stories"])

In [107]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\monster\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\monster\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\monster\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\monster\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\monster\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\monster\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [108]:
import nltk

In [109]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\monster\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [110]:
from nltk.corpus import stopwords

In [111]:
sw = stopwords.words("english") #we dont want these words we want to get rid of them

In [112]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [113]:
d_mdf["Stories"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Stories, dtype: object

In [114]:
d_mdf = d_mdf["Stories"].apply(lambda x: " ".join(x for x in x.split() if x not in sw)) #deleting process

In [115]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Stories, dtype: object

## Deletion of Less Used Words

In [116]:
type(d_mdf)

pandas.core.series.Series

In [117]:
d_mdf = pd.DataFrame(d_mdf, columns = ["Stories"])

In [118]:
pd.Series(" ".join(d_mdf["Stories"]).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

In [119]:
sil = pd.Series(" ".join(d_mdf["Stories"]).split()).value_counts()[-3:] #we only took last 3 values for deleting

In [120]:
sil

league       1
redheaded    1
beeches      1
dtype: int64

In [121]:
d_mdf["Stories"].apply(lambda x: " ".join(i for i in x.split() if i not in sil)) #deleting process for less used last 3 words

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: Stories, dtype: object

## Tokenization
Tokenization is splitting the sentence into words (creating new list)

In [122]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\monster\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [123]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\monster\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\monster\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\monster\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\monster\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\monster\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\monster\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\monster\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

In [124]:
import textblob

In [125]:
from textblob import TextBlob     #we will use TextBlob for splitting

In [126]:
TextBlob(d_mdf["Stories"][1]).words #example for first line

WordList(['scandal', 'bohemia'])

In [127]:
d_mdf["Stories"].apply(lambda x: TextBlob(x).words) #splitting process

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: Stories, dtype: object

## Stemming
stemming refers to breaking a word into its roots

In [128]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [129]:
d_mdf["Stories"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: Stories, dtype: object

## Lemmatization

In [130]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\monster\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [131]:
d_mdf["Stories"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: Stories, dtype: object

In [132]:
mdf["Stories"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: Stories, dtype: object

In [133]:
d_mdf["Stories"][0:5]

1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5           five orange pips
Name: Stories, dtype: object

# NLP Uygulamaları

## N-Gram

In [134]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [135]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

## Part of speech tagging (POS)

In [136]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\monster\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [137]:
TextBlob(d_mdf["Stories"][2]).tags

[('redheaded', 'VBN'), ('league', 'NN')]

In [138]:
d_mdf["Stories"].apply(lambda x: TextBlob(x).tags) # we classified words as verb,noun... etc.

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: Stories, dtype: object

## Chunking (shallow parsing)

In [139]:
pos = d_mdf["Stories"].apply(lambda x: TextBlob(x).tags)

In [140]:
pos

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: Stories, dtype: object

In [141]:
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [142]:
pos = TextBlob(cumle).tags

In [143]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [144]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [145]:
results = rp.parse(pos)

In [146]:
#Results

In [147]:
print(results)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [148]:
results.draw()

## Named Entity Recognition

In [149]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\monster\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\monster\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [150]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Mathematical Operations and Simple Feature Extraction

## Number of Letters/Characters

In [151]:
o_df = d_mdf.copy() #we copied the dataframe for not breaking its structure

In [152]:
o_df["Stories"]

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Stories, dtype: object

In [153]:
o_df["Stories"].str.len()

1     15
2     16
3     13
4     23
5     16
6     15
7     24
8     23
9     25
10    24
11    23
12    24
Name: Stories, dtype: int64

In [154]:
o_df["Number_of_Letters"] = o_df["Stories"].str.len()

In [155]:
o_df

                      Stories  Number_of_Letters
1             scandal bohemia                 15
2            redheaded league                 16
3               case identity                 13
4     boscombe valley mystery                 23
5            five orange pips                 16
6             man twisted lip                 15
7    adventure blue carbuncle                 24
8     adventure speckled band                 23
9   adventure engineers thumb                 25
10   adventure noble bachelor                 24
11    adventure beryl coronet                 23
12   adventure copper beeches                 24

## Word Count

In [156]:
a = "scandal in a bohemia"

In [157]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [158]:
len(a.split())

4

In [159]:
o_df.iloc[0:1,0:1]

           Stories
1  scandal bohemia

In [160]:
o_df["word_count"] = o_df["Stories"].apply(lambda x:len(str(x).split()))

In [161]:
o_df

                      Stories  Number_of_Letters  word_count
1             scandal bohemia                 15           2
2            redheaded league                 16           2
3               case identity                 13           2
4     boscombe valley mystery                 23           3
5            five orange pips                 16           3
6             man twisted lip                 15           3
7    adventure blue carbuncle                 24           3
8     adventure speckled band                 23           3
9   adventure engineers thumb                 25           3
10   adventure noble bachelor                 24           3
11    adventure beryl coronet                 23           3
12   adventure copper beeches                 24           3

## Capturing & Counting Special Characters

In [162]:
o_df["Stories"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))    #we wanted to catch adventure word and its count
                                                                          #we can use this lambda function for this problem

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: Stories, dtype: int64

In [163]:
o_df["special_character_num"] = o_df["Stories"].apply(lambda x: len([x for x in x.split()  if x.startswith("adventure")]))
                                #we created new column and applied lambda function for finding lines that contains adventure

In [164]:
o_df

,Stories,Number_of_Letters,word_count,special_character_num
1,scandal bohemia,15,2,0
2,redheaded league,16,2,0
3,case identity,13,2,0
4,boscombe valley mystery,23,3,0
5,five orange pips,16,3,0
6,man twisted lip,15,3,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineers thumb,25,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beeches,24,3,1

## Capturing & Counting Numbers

In [165]:
mdf #old dataframe which before we delete numbers we will use for finding the count of numbers because in the 
    #new one we dont have any

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [166]:
mdf["Stories"].apply(lambda x: len([x for x in x.split()  #this time we used condition of isdigit it will return us numbers
                                       if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: Stories, dtype: int64

In [167]:
o_df["number_num"] = mdf["Stories"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

In [168]:
o_df

,Stories,Number_of_Letters,word_count,special_character_num,number_num
1,scandal bohemia,15,2,0,1
2,redheaded league,16,2,0,0
3,case identity,13,2,0,1
4,boscombe valley mystery,23,3,0,0
5,five orange pips,16,3,0,0
6,man twisted lip,15,3,0,0
7,adventure blue carbuncle,24,3,1,0
8,adventure speckled band,23,3,1,0
9,adventure engineers thumb,25,3,1,0
10,adventure noble bachelor,24,3,1,0
11,adventure beryl coronet,23,3,1,0
12,adventure copper beeches,24,3,1,0

# Text Visualization

In [169]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t") #we can read tsv files with csv

In [170]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [171]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [172]:
#upper-lower transformation
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [173]:
#punctuation
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

C:\Users\monster\AppData\Local\Temp/ipykernel_6712/519048806.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

In [174]:
#numbers
data['Phrase'] = data['Phrase'].str.replace('\d','')

C:\Users\monster\AppData\Local\Temp/ipykernel_6712/4078249727.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('\d','')

In [175]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\monster\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [176]:
#deletion of sparse
delete = pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in delete))

In [177]:
#lemmi
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [178]:
data['Phrase'].head(10)

0    series escapade demonstrating adage good goose...
1       series escapade demonstrating adage good goose
2                                               series
3
4                                               series
5              escapade demonstrating adage good goose
6
7              escapade demonstrating adage good goose
8                                             escapade
9                       demonstrating adage good goose
Name: Phrase, dtype: object

## Term Frequency (tf)
this part use a lot of ram and takes too much time so I made all lines comment line

In [179]:
#tf1 = (data["Phrase"]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

In [180]:
#tf1.columns = ["words","tf"]

In [181]:
#tf1.head()

In [182]:
#tf1.info()

In [183]:
#tf1.nunique()

## barplot

In [184]:
#a = tf1[tf1["tf"] > 1000]   #we wanted to select the words which is observed more than 1000 time

In [185]:
#a.plot.bar(x = "words", y = "tf");  #and used plot to visualize

## Wordcloud

In [ ]:
#conda install -c conda-forge wordcloud=1.6.0

In [186]:
!pip install wordcloud

Collecting wordcloud
  Using cached wordcloud-1.8.1.tar.gz (220 kB)
Requirement already satisfied: numpy>=1.6.1 in c:\users\monster\anaconda3\lib\site-packages (from wordcloud) (1.20.3)

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\monster\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\monster\\AppData\\Local\\Temp\\pip-install-v90xy5q3\\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\\setup.py'"'"'; __file__='"'"'C:\\Users\\monster\\AppData\\Local\\Temp\\pip-install-v90xy5q3\\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\monster\AppData\Local\Temp\pip-wheel-7u76_9u4'
       cwd: C:\Users\monster\AppData\Local\Temp\pip-install-v90xy5q3\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\
  Complete output (20 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.9
  creating build\lib.win-amd64-3.9\wordcloud

Requirement already satisfied: pillow in c:\users\monster\anaconda3\lib\site-packages (from wordcloud) (8.4.0)
Requirement already satisfied: matplotlib in c:\users\monster\anaconda3\lib\site-packages (from wordcloud) (3.4.3)
Requirement already satisfied: cycler>=0.10 in c:\users\monster\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\monster\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\monster\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\monster\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six in c:\users\monster\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.16.0)
Building wheels for collected packages: wordcloud
  Building wheel for wordcloud (setup.py): started
  Building wheel for wordcloud (setup.py): finished with status 'error'
  Running setup.py clean for wordcloud
Failed to build wordcloud
Installing collected packages: wordcloud
    Running setup.py install for wordcloud: started
    Running setup.py install for wordcloud: finished with status 'error'

  copying wordcloud\color_from_image.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\tokenization.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\wordcloud.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\wordcloud_cli.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\_version.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\__init__.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\__main__.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\stopwords -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\DroidSansMono.ttf -> build\lib.win-amd64-3.9\wordcloud
  UPDATING build\lib.win-amd64-3.9\wordcloud/_version.py
  set build\lib.win-amd64-3.9\wordcloud/_version.py to '1.8.1'
  running build_ext
  building 'wordcloud.query_integral_image' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for wordcloud
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\monster\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\monster\\AppData\\Local\\Temp\\pip-install-v90xy5q3\\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\\setup.py'"'"'; __file__='"'"'C:\\Users\\monster\\AppData\\Local\\Temp\\pip-install-v90xy5q3\\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\monster\AppData\Local\Temp\pip-record-3yoffb1a\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\monster\anaconda3\Include\wordcloud'
         cwd: C:\Users\monster\AppData\Local\Temp\pip-install-v90xy5q3\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\
    Complete output (20 lines):
    running install
    running build
    running build_py
    creating build
    creating build\lib.win-amd64-3.9
    creating build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\color_from_image.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\tokenization.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\wordcloud.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\wordcloud_cli.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\_version.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\__init__.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\__main__.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\stopwords -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\DroidSansMono.ttf -> build\lib.win-amd64-3.9\wordcloud
    UPDATING build\lib.win-amd64-3.9\wordcloud/_version.py
    set build\lib.win-amd64-3.9\wordcloud/_version.py to '1.8.1'
    running build_ext
    building 'wordcloud.query_integral_image' extension
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\monster\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\monster\\AppData\\Local\\Temp\\pip-install-v90xy5q3\\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\\setup.py'"'"'; __file__='"'"'C:\\Users\\monster\\AppData\\Local\\Temp\\pip-install-v90xy5q3\\wordcloud_8f0ec58468ed499fb175f3ed9080cf31\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\monster\AppData\Local\Temp\pip-record-3yoffb1a\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\monster\anaconda3\Include\wordcloud' Check the logs for full command output.

In [187]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'wordcloud'

In [ ]:
text = data["Phrase"][0]

In [ ]:
wordcloud = WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud = WordCloud(max_font_size = 50,
                     max_words = 100, 
                     background_color = "white").generate(text)
plt.figure()
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud.to_file("kelime_bulutu.png");

In [ ]:
#tum metin

In [ ]:
text = " ".join(i for i in data.Phrase)

In [ ]:
text

In [ ]:
wordcloud = WordCloud(max_font_size = 50, 
                     background_color = "white").generate(text)
plt.figure(figsize = [10,10])
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
?wordcloud

## Şablonlara Göre Word Cloud

In [ ]:
vbo_mask = np.array(Image.open("tr.png"))

In [ ]:
vbo_mask

In [ ]:
wc = WordCloud(background_color = "white",
                     max_words = 1000, 
                     mask = vbo_mask, 
                     contour_width = 3,
                     contour_color = "firebrick")

wc.generate(text)

wc.to_file("vbo.png")

plt.figure(figsize = [10,10])
plt.imshow(wc, interpolation = "bilinear")
plt.axis("off")
plt.show()

# Sentiment Analizi ve Sınıflandırma Modelleri

In [131]:
!pip install keras

Collecting keras
  Downloading keras-2.7.0-py2.py3-none-any.whl (1.3 MB)
Installing collected packages: keras
Successfully installed keras-2.7.0

In [135]:
pip install tensorflow==1.2.0 --ignore-installed

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement tensorflow==1.2.0 (from versions: 2.5.0rc0, 2.5.0rc1, 2.5.0rc2, 2.5.0rc3, 2.5.0, 2.5.1, 2.5.2, 2.6.0rc0, 2.6.0rc1, 2.6.0rc2, 2.6.0, 2.6.1, 2.6.2, 2.7.0rc0, 2.7.0rc1, 2.7.0, 2.8.0rc0, 2.8.0rc1)
ERROR: No matching distribution found for tensorflow==1.2.0

Collecting tensorflow
  Downloading tensorflow-2.7.0-cp39-cp39-win_amd64.whl (430.8 MB)
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting flatbuffers<3.0,>=1.12
  Downloading flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting libclang>=9.0.1
  Downloading libclang-12.0.0-2-py2.py3-none-win_amd64.whl (13.0 MB)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.43.0-cp39-cp39-win_amd64.whl (3.4 MB)
Requirement already satisfied: wheel<1.0,>=0.32.0 in c:\users\monster\anaconda3\lib\site-packages (from tensorflow) (0.37.0)
Collecting tensorflow-io-gcs-filesystem>=0.21.0
  Downloading tensorflow_io_gcs_filesystem-0.23.1-cp39-cp39-win_amd64.whl (1.5 MB)
Collecting gast<0.5.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: numpy>=1.14.5 in c:\users\monster\anaconda3\lib\site-packages (from tensorflow) (1.20.3)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting tensorboard~=2.6
  Downloading tensorboard-2.8.0-py3-none-any.whl (5.8 MB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\monster\anaconda3\lib\site-packages (from tensorflow) (3.10.0.2)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\monster\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.19.3-cp39-cp39-win_amd64.whl (895 kB)
Requirement already satisfied: six>=1.12.0 in c:\users\monster\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Collecting absl-py>=0.4.0
  Downloading absl_py-1.0.0-py3-none-any.whl (126 kB)
Collecting tensorflow-estimator<2.8,~=2.7.0rc0
  Downloading tensorflow_estimator-2.7.0-py2.py3-none-any.whl (463 kB)
Requirement already satisfied: h5py>=2.9.0 in c:\users\monster\anaconda3\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in c:\users\monster\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\monster\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.0.2)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.4.1-py2.py3-none-any.whl (157 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.3.6-py3-none-any.whl (97 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\monster\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.26.0)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\monster\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (58.0.4)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.0.0-py3-none-any.whl (9.1 kB)
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.8-py3-none-any.whl (39 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\monster\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\monster\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.6.0)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\monster\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\monster\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\monster\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\monster\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.2)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4847 sha256=63637a5ed6ec962a10738625248f062ad5b60b9215fc2bdc269530844dff2cbd
  Stored in directory: c:\users\monster\appdata\local\pip\cache\wheels\b6\0d\90\0d1bbd99855f99cb2f6c2e5ff96f8023fad8ec367695f7d72d
Successfully built termcolor
Installing collected packages: pyasn1, rsa, pyasn1-modules, oauthlib, cachetools, requests-oauthlib, google-auth, tensorboard-plugin-wit, tensorboard-data-server, protobuf, markdown, grpcio, google-auth-oauthlib, absl-py, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras-preprocessing, google-pasta, gast, flatbuffers, astunparse, tensorflow
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-5.0.0 flatbuffers-2.0 gast-0.4.0 google-auth-2.4.1 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.43.0 keras-preprocessing-1.1.2 libclang-12.0.0 markdown-3.3.6 oauthlib-3.1.1 opt-einsum-3.3.0 protobuf-3.19.3 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.8 tensorboard-2.8.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.7.0 tensorflow-estimator-2.7.0 tensorflow-io-gcs-filesystem-0.23.1 termcolor-1.1.0

In [136]:

from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers


from warnings import filterwarnings
filterwarnings('ignore')

In [137]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [138]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [139]:
data["Sentiment"].replace(0, value = "negatif", inplace = True)
data["Sentiment"].replace(1, value = "negatif", inplace = True)

In [140]:
data["Sentiment"].replace(3, value = "pozitif", inplace = True)
data["Sentiment"].replace(4, value = "pozitif", inplace = True)

In [141]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [142]:
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]

In [143]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
21,22,1,good for the goose,pozitif
22,23,1,good,pozitif
33,34,1,"the gander , some of which occasionally amuses...",negatif
46,47,1,amuses,pozitif

In [144]:
data.groupby("Sentiment").count()

           PhraseId  SentenceId  Phrase
Sentiment
negatif       34345       34345   34345
pozitif       42133       42133   42133

In [145]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

In [146]:
df.head()

                                                 text    label
0   A series of escapades demonstrating the adage ...  negatif
21                                 good for the goose  pozitif
22                                               good  pozitif
33  the gander , some of which occasionally amuses...  negatif
46                                             amuses  pozitif

## Metin Ön İşleme

In [147]:
#buyuk-kucuk donusumu
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#noktalama işaretleri
df['text'] = df['text'].str.replace('[^\w\s]','')
#sayılar
df['text'] = df['text'].str.replace('\d','')
#stopwords
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#seyreklerin silinmesi
sil = pd.Series(' '.join(df['text']).split()).value_counts()[-1000:]
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
#lemmi
from textblob import Word
#nltk.download('wordnet')
df['text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

## Değişken Mühendisliği

* Count Vectors
* TF-IDF Vectors (words, characters, n-grams)
* Word Embeddings

TF(t) = (Bir t teriminin bir dökümanda gözlenme frekansı) / (dökümandaki toplam terim sayısı) 

IDF(t) = log_e(Toplam döküman sayısı / içinde t terimi olan belge sayısı)

In [148]:
df.head()

                                                 text    label
0   series demonstrating adage good goose also goo...  negatif
21                                         good goose  pozitif
22                                               good  pozitif
33  gander occasionally amuses none amount much story  negatif
46                                             amuses  pozitif

In [149]:
df.iloc[0]

text     series demonstrating adage good goose also goo...
label                                              negatif
Name: 0, dtype: object

## Test-Train

In [150]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df["text"],
                                                                   df["label"], 
                                                                    random_state = 1)

In [151]:
train_y[0:5]

118788    pozitif
89514     negatif
86857     pozitif
140626    negatif
153243    pozitif
Name: label, dtype: object

In [152]:
encoder = preprocessing.LabelEncoder()

In [153]:
train_y = encoder.fit_transform(train_y)
test_y = encoder.fit_transform(test_y)

In [154]:
train_y[0:5]

array([1, 0, 1, 0, 1])

In [155]:
test_y[0:5]

array([1, 0, 1, 0, 0])

### Count Vectors

In [156]:
vectorizer = CountVectorizer()
vectorizer.fit(train_x)

CountVectorizer()

In [157]:
x_train_count = vectorizer.transform(train_x)
x_test_count = vectorizer.transform(test_x)

In [159]:
#x_train_count.head()

In [160]:
vectorizer.get_feature_names()[0:5]

['aaa', 'aaliyah', 'abagnale', 'abandon', 'abandoned']

In [161]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### TF-IDF

In [162]:
#wordlevel

In [163]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

TfidfVectorizer()

In [164]:
x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

In [165]:
tf_idf_word_vectorizer.get_feature_names()[0:5]

['aaa', 'aaliyah', 'abagnale', 'abandon', 'abandoned']

In [166]:
x_train_tf_idf_word.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [167]:
# ngram level tf-idf

In [168]:
tf_idf_ngram_vectorizer = TfidfVectorizer(ngram_range = (2,3))
tf_idf_ngram_vectorizer.fit(train_x)

TfidfVectorizer(ngram_range=(2, 3))

In [169]:
x_train_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(train_x)
x_test_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(test_x)

In [170]:
# characters level tf-idf

In [171]:
tf_idf_chars_vectorizer = TfidfVectorizer(analyzer = "char", ngram_range = (2,3))
tf_idf_chars_vectorizer.fit(train_x)

TfidfVectorizer(analyzer='char', ngram_range=(2, 3))

In [172]:
x_train_tf_idf_chars = tf_idf_chars_vectorizer.transform(train_x)
x_test_tf_idf_chars = tf_idf_chars_vectorizer.transform(test_x)

# Makine Öğrenmesi ile Sentiment Sınıflandırması

## Lojistik Regresyon

In [173]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_count, train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

Count Vectors Doğruluk Oranı: 0.8368200836820083

In [174]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

Word-Level TF-IDF Doğruluk Oranı: 0.8331589958158995

In [175]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

N-GRAM TF-IDF Doğruluk Oranı: 0.748326359832636

In [176]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

CHARLEVEL Doğruluk Oranı: 0.7811715481171548

## Naive Bayes

In [177]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

Count Vectors Doğruluk Oranı: 0.8332112970711296

In [178]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

Word-Level TF-IDF Doğruluk Oranı: 0.835041841004184

In [179]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

N-GRAM TF-IDF Doğruluk Oranı: 0.7685146443514643

In [180]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

CHARLEVEL Doğruluk Oranı: 0.7557008368200837

## Random Forests

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## XGBoost

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

In [ ]:
loj_model

In [ ]:
loj_model.predict("yes i like this film")

In [ ]:
yeni_yorum = pd.Series("this film is very nice and good i like it")

yeni_yorum = pd.Series("no not good look at that shit very bad")

In [ ]:
v = CountVectorizer()
v.fit(train_x)
yeni_yorum = v.transform(yeni_yorum)

In [ ]:
loj_model.predict(yeni_yorum)